.main-container {
    max-width: 1440px;
    margin: 0 auto;
}
.announcements {
    display: flex;
    justify-content: center;
    background-color: #d8e9e3;
    margin-bottom: 32px;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-sections {
    display: flex;
    margin-bottom: 32px;
}

.left-right-sections .text {
    width: 50%;
    color: #1e3932;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
}

.text h1, .text h3 {
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
    text-align: center;
}

.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    text-align: center;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    background-color: rgba(30, 57, 50, .1);
}

.left-right-sections .image {
    width: 50%;
    display: flex;
}

.left-right-sections .image img {
    width: 100%;
}

.chill .text {
    background-color: #f2f0eb;
}

.chill .text h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 30px;
    letter-spacing: 8px;
}

.chill .text h3 {
    line-height: 1.5;
    font-size: 24px;
}

/* Top Bottom Section */

.vertical {
    display: flex;
}

.top-bottom-sections {
    width: 50%;
}

.top-bottom-sections .section-container {
    display: flex;
    flex-direction: column;
}

.top-bottom-sections .section-container .image {
    width: 100%;
}

.top-bottom-sections .section-container .image img {
    width: 100%;
}

.top-bottom-sections .text {
    display: flex;
    flex-direction: column;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}